import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#Task1
#Loading the data
def read_data_from_csv():
    #df =read the 'iot_telemetry_data.csv' file
    return df


#Task 2: Renaming the Columns
def rename_columns():
    # do not edit the predefined function name
    df=read_data_from_csv()
    #rename the columns according to the description
    #write your code here
    return df

#Task 3: check for null values
def null_values_check():
    # do not edit the predefined function name
    df=rename_columns()
    #write your code here to check for the null values in the dataset
    return null_values


#Task4 :Removing Duplicates

def remove_duplicates():
    # do not edit the predefined function name
    df=rename_columns()
    #write your code here to drop the duplicates in the dataset and return the dataframe 'df' without the duplicates
    return df


#Task 5:Handling Missing Values:
def handle_missing_values():
    # do not edit the predefined function name
    df=remove_duplicates()
    #write your code here to drop the missing values in the dataset which returns the dataframe 'df' without missing values
    return df

#Task 6:Data Type Conversion:

def convert_data_types():
    # do not edit the predefined function name
    df= handle_missing_values()
    #write your code to change the datatype of each column to respective datatype mentioned in the task
    #description and  return the dataframe'df' which contains updated columns datatypes.

    return df

#Task 7: Export the cleaned dataset to "cleaned_environemnt.csv"
def export_the_dataset():
    # do not edit the predefined function name
    df=convert_data_types()
    #write your code to export the cleaned dataset and set the index=false and return the same as 'df'



#TASK 8: Load the Cleaned dataset 'cleaned_environment.csv' to the database provided.
#follow the instruction in the Task 8 description and complete the task as per it.

#check if mysql table is created using "cleaned_environment"
#Use this final dataset and upload it on the provided database for performing analysis in  MySQL
#To run this task click on the terminal and click on the run project

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [7]:
#Task1
#Loading the data
def read_data_from_csv():
    df=pd.read_csv(r"C:\Users\Ramakrishna\Desktop\Envoriment Analyisies\Envoriment Analyst\iot_telemetry_data.csv")
    #df =read the 'iot_telemetry_data.csv' file
    return df

In [8]:
read_data_from_csv()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

timestamp
device_id
carbon_monoxide
humidity
light
liquefied_petroleum_gas
motion
smoke
temperature

In [37]:
read_data_from_csv().columns

Index(['ts', 'device', 'co', 'humidity', 'light', 'lpg', 'motion', 'smoke',
       'temp'],
      dtype='object')

In [38]:
#Task 2: Renaming the Columns
def rename_columns():
    # do not edit the predefined function name
    df=read_data_from_csv()
    #rename the columns according to the description
    #write your code here
    col={'ts':'timestamp', 'device':'device_id','co':'carbon_monoxide','humidity':'humidity','light':'light','lpg':'liquefied_petroleum_gas', 
        'motion':'motion','smoke':'smoke','temp':'temperature'}
    df=df.rename(columns=col)
    return df

In [39]:
#rename_columns()

In [40]:
#Task 3: check for null values
def null_values_check():
    # do not edit the predefined function name
    df=rename_columns()
    #write your code here to check for the null values in the dataset
    null_values=df.isna().sum()
    return null_values

In [41]:
#null_values_check()

In [42]:
#Task4 :Removing Duplicates
def remove_duplicates():
    # do not edit the predefined function name
    df=rename_columns()
    #write your code here to drop the duplicates in the dataset and return the dataframe 'df' without the duplicates
    df=df.drop_duplicates(keep='first')
    return df

In [43]:
#remove_duplicates()

In [44]:
#Task 5:Handling Missing Values:
def handle_missing_values():
    # do not edit the predefined function name
    df=remove_duplicates()
    #write your code here to drop the missing values in the dataset which returns the dataframe 'df' without missing values
    df=df.dropna()
    return df

The function convert_data_types() converts the data types of 
selected columns in the DataFrame to their appropriate types. It uses the pandas 
libary method to convert the "timestamp" column to datetime type, and convert the "humidity," "light," "motion," 
and "temperature" columns to float and boolean types.

In [47]:
handle_missing_values().columns

Index(['timestamp', 'device_id', 'carbon_monoxide', 'humidity', 'light',
       'liquefied_petroleum_gas', 'motion', 'smoke', 'temperature'],
      dtype='object')

In [50]:
#Task 6:Data Type Conversion:
def convert_data_types():
    # do not edit the predefined function name
    df= handle_missing_values()
    #write your code to change the datatype of each column to respective datatype mentioned in the task
    #description and  return the dataframe'df' which contains updated columns datatypes.
    df['timestamp']=pd.to_datetime(df['timestamp'])
    df['humidity']=df['humidity'].astype('float')
    df["light"]=df["light"].astype('bool')
    df['motion']=df['motion'].astype('bool')
    return df

In [52]:
#convert_data_types()

In [53]:
#Task 7: Export the cleaned dataset to "cleaned_environemnt.csv"
def export_the_dataset():
    # do not edit the predefined function name
    df=convert_data_types()
    #write your code to export the cleaned dataset and set the index=false and return the same as 'df'
    df.to_csv('cleaned_environment.csv')
    return df

In [54]:
export_the_dataset()

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1970-01-01 00:00:01.590,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1970-01-01 00:00:01.590,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
99528,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.005225,49.100000,False,0.007949,False,0.021263,22.200000
99530,1970-01-01 00:00:01.590,1c:bf:ce:15:ec:4d,0.004081,58.400002,True,0.006648,False,0.017568,26.000000
99531,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.005211,49.100000,False,0.007934,False,0.021219,22.200000
99532,1970-01-01 00:00:01.590,1c:bf:ce:15:ec:4d,0.004060,58.400002,True,0.006623,False,0.017497,26.000000
99533,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.005235,49.000000,False,0.007960,False,0.021292,22.200000

In [1]:
convert_data_types()

NameError: name 'convert_data_types' is not defined